body {
	margin: 0;
	padding: 0;	
	background-image: url(../images/bg1.jpg); 
	background-repeat: no-repeat;
    background-size: 1377px 677px; 	
 } 
img{
	width:270px;
	height: 194px;
	position:relative;
	border:1px solid black;
}
 select{
	width:170px;
	height:44px;
	float:left;
	font-family:"Î¢ÈíÑÅºÚ";
	border: 1px solid #b0a296;	
	outline:none;
	color: #000040;
}


