body {
	margin: 0;
	padding: 0;	
	background-image: url(../images/page1-1.jpg); 
	background-repeat: no-repeat;
    background-size: 1377px 677px; 	
 }
#main{
	width:523px;
    height: 300px;
    position:relative;
    margin:180px auto;
    
}
#word {
	width: 350px;
    height: 30px;
    position:relative;
    margin:10px auto;
    text-align: center;
	vertical-align: middle;
	
}
#word a{
    text-decoration:none;
    color: black;
    font-family: "Î¢ÈíÑÅºÚ";
    font-size: 1.5em;	
    font-weight:bold;
}
#word a:hover{
	color:white;
}

#search {
	width:580px;
	height:60px;
	margin:30px auto;
	position:relative;
	
}

input[type='file']{
    width: 400px;
    height: 44px;
    border-color: orange;
    box-align: center;
    font-family: "Î¢ÈíÑÅºÚ";
    font-size:13px;
    float:left;
}
select{
	width:400px;
	height:44px;
	float:left;
	font-family:"Î¢ÈíÑÅºÚ";
	border: 1px solid #b0a296;	
	outline:none;
	color: #000000;
}
option{
	border: 1px solid #b0a296;
	border-top: none;
	font-size: 15px;
}
.conbination select{
	width:200px;
}
option.hover{
	background: #7b6959; color: #fff;
	}
button {
	width:120px;
	height: 44px;
	border:1px solid orange;
	background-color: orange;
    position:relative;
    box-align: center;
    float:left;
}

#button a{
	font-family:"Î¢ÈíÑÅºÚ";
	font-size:1.1em;
	color:white;
	text-decoration: none;
}
